body {
  font: 16px/22px Roboto, Verdana, Arial, sans-serif;
  color: #283136;
}

a {
  text-decoration: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-header {
  margin-bottom: 80px;

  color: #283136;
  background-color: #eeeeee;
}

.page-menu {
  padding-top: 28px;
  margin-bottom: 36px;
}

.page-logo,
.page-logo img {
  width: 139px;
  height: 56px;
}

.page-logo {
  float: left;
}

.nav-wrap {
  float: right;
  min-width: 560px;
  padding-top: 30px;
}

.page-nav {
  float: left;
  min-width: 400px;
}

.page-nav ul {
  padding: 0;
  margin: 0;

  font-size: 0;

  list-style: none;
}

.user-block {
  float: right;
  min-width: 160px;
  text-align: right;
}

.page-nav li {
  display: inline-block;
  padding-right: 45px;

  vertical-align: bottom;
}

.page-nav li:last-of-type {
  padding-right: 0;
}

.page-nav a,
.user-block a {
  padding-bottom: 5px;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.page-nav a:hover,
.user-block a:hover {
  color: #fb565a;
}

.page-nav a:active,
.user-block a:active {
  color: #000000;
  opacity: 0.4;
}

.page-nav a.selected,
.user-block a.selected {
  color: #000000;
  box-shadow: 0 2px #fb565a;
}

.slider input {
  display: none;
}

.slider-block {
  display: none;

  width: 100%;
  height: 319px;
}

.slider-block-content {
  float: left;
  width: 480px;
}

#slider-block-1 {
  background: url("../img/slider1-bg.png") right center no-repeat;
}

#slider-block-2 {
  background: url("../img/slider2-bg.png") right center no-repeat;
}

#slider-block-3 {
  background: url("../img/slider3-bg.png") right center no-repeat;
}

#slider-radio-1:checked ~ .slider-visible #slider-block-1,
#slider-radio-2:checked ~ .slider-visible #slider-block-2,
#slider-radio-3:checked ~ .slider-visible #slider-block-3 {
  display: block;
}

/*main {
  padding-top: 80px;
}*/

.features {
  margin-bottom: 80px;
  font-size: 0px;
}

.features-item {
  display: inline-block;
  width: 240px;
  margin-right: 80px;

  text-align: left;
  font-size: 15px;
  vertical-align: top;
}

.features-item:last-child {
  margin-right: 0;
}

.description {
  position: relative;

  margin-top: 60px;
  margin-bottom: 70px;
}

.description-logo {
  position: absolute;
  top: -15px;
  right: 0;
}

.description-intro {
  float: left;
  width: 620px;
  margin-bottom: 40px;
}

.description b {
  font-size: 36px;
  line-height: 36px;
}

.description-general {
  clear: both;
}

.description-left {
  float: left;
  width: 620px;
}

.description-right {
  float: right;
  width: 230px;
}

.portfolio {
  margin-top: 80px;
  margin-bottom: 25px;

  font-size: 0;
}

.portfolio-item {
  display: inline-block;
  padding: 0 10px;
  margin-right: 100px;

  vertical-align: middle;
}

.portfolio-item:last-child {
  margin-right: 0;
}

.map {
  position: relative;

  margin-bottom: 80px;
}

.map img {
  width: 1199px;
  height: 416px;
}

.contacts {
  position: absolute;
  top: 70px;
  left: 160px;

  width: 250px;
  padding: 25px 20px;

  background-color: #ffffff;
  color: #000000;
}

.footer-socials {
  float: left;
  min-width: 300px;
  margin-right: 20px;

  font-size: 0;
}

.footer-socials a {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 27px;

  font-size: 0;

  vertical-align: top;
  background-color: #000000;
  border-radius: 50%;
}

.footer-info {
  float: left;
  width: 560px;
}


/* catalog page */
.catalog-page .page-header {
  padding-bottom: 80px;
}

.page-title {
  width: 700px;
  margin: 50px auto;
  margin-bottom: 0;
}

.filter {
  float: left;
  width: 240px;
}

.catalog-content {
  float: right;
  width: 560px;
}

.content-sorting ul {
  display: inline;
  padding: 0;
  margin: 0;

  font-size: 0;

  list-style: 0;
}

.content-sorting li {
  display: inline-block;
  margin-right: 45px;
}

.content-sorting li:last-child {
  margin-right: 0;
}

.sort-button {
  font-size: 12px;
  line-height: 30px;

  color: rgba(0, 0, 0, 0.3);
  background: none;
  outline: none;
  border: none;
}

.sort-descend,
.sort-ascend {
  font-size: 0;
}

.content-items {
  margin-bottom: 80px;

  font-size: 0;
}

.content-item {
  display: inline-block;
  width: 240px;
  margin-right: 80px;
}

.content-item:nth-child(2n) {
  margin-right: 0;
}

.content-item-top {
  height: 30px;

  background-color: #797979;
  opacity: 0.1;
}

.content-item-info {
  display: none;
}

.content-paginator {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;

  font-size: 0;
  list-style: none;
}

.content-paginator li {
  display: inline-block;
  margin-right: 10px;
}

.content-paginator a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}
