/*** General styles ***/

body {
  min-width: 900px;

  font: 16px/22px "Roboto", "Verdana", sans-serif;
  font-weight: 500;
  color: #283136;

  background-color: #ffffff;
}


@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */


.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.notvisible {
  display: none;
}

.inline-list {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
  vertical-align: top;
}

.inline-list > li {
  display: inline-block;

  /*font-size: 14px;*/

  vertical-align: top;
}

.inline-list > li:last-child {
  margin-right: 0;
}

.btn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;

  font: inherit;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

/*** Page header ***/

.main-header {
  padding-top: 27px;

  background-color: #eeeeee;
}

/* Page menu */

.page-menu {
  position: relative;

  padding-top: 26px;
}

.page-menu-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.page-menu-logo img {
  width: 139px;
  height: 56px;
}

.page-menu-inner {
  float: right;
  text-align: right;
}

.page-menu-link {
  display: inline-block;

  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;

  color: #000000;
}

.page-menu-link:hover {
  color: #fb565a;
}

.page-menu-link:active {
  color: #000000;
  opacity: 0.4;
}

.page-menu-link-active {
  box-shadow: 0 2px #fb565a;
}

/* Main navigation */

.page-menu-nav {
  margin-right: 60px;
}

.page-menu-nav > li {
  margin-right: 45px;
}

/* User block */

.page-menu-user {
  display: inline-block;

  vertical-align: top;
}

.user-block-icon {
  margin-right: 10px;

  font-size: 16px;

  opacity: 0.3;
}

.user-block-link:hover .user-block-icon {
  opacity: 1;
}

.user-block-link:active .user-block-icon {
  opacity: 0.15;
}

.user-block-link-active .user-block-icon {
  opacity: 0.3;
}

/***** INDEX PAGE *****/

/* Page menu */

.index-page .page-menu {
  margin-bottom: 34px;
}

/* Slider */

.slider {
  position: relative;
}

.slider-block {
  display: none;
  overflow: hidden;

  padding-bottom: 80px;
}

#slider-radio-1:checked ~ #slider-block-1 { display: block; }
#slider-radio-2:checked ~ #slider-block-2 { display: block; }
#slider-radio-3:checked ~ #slider-block-3 { display: block; }

#slider-block-1 { background: url("../img/slider1-bg.png") right 19px no-repeat; }
#slider-block-2 { background: url("../img/slider2-bg.png") right 23px no-repeat; }
#slider-block-3 { background: url("../img/slider3-bg.png") right top no-repeat; }

.slider-content {
  float: left;
  width: 470px;
  padding-top: 40px;
}

.slider-lead {
  display: block;
  margin-bottom: 20px;

  font-size: 36px;
  font-weight: 500;
  line-height: 36px;

  color: #000000;
}

.slider-content p {
  margin: 0;
  margin-top: 7px;
}


.slider-btn {
  margin-top: 26px;
  padding-left: 70px;
  padding-right: 70px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 94px;

  margin-left: -35px;

  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 9px;

  background-color: #ffffff;
  border-radius: 50%;
  vertical-align: bottom;
  cursor: pointer;
}

.slider-controls label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 5px;
  height: 5px;
  margin-left: -2.5px;
  margin-top: -2.5px;

  background-color: #c1c1c1;
  border-radius: 50%;
}

#slider-radio-1:checked ~ .slider-controls #slider-label-1::before { display: block; }
#slider-radio-2:checked ~ .slider-controls #slider-label-2::before { display: block; }
#slider-radio-3:checked ~ .slider-controls #slider-label-3::before { display: block; }

/*** Main content ***/

.index-content-block {
  border-bottom: 2px #eeeeee solid;
}

/* Features */

.features {
  padding: 80px 0;
}

.features-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-img {
  display: block;
  width: 240px;
  height: 124px;
  margin-bottom: 23px;
}

.features-item h2 {
  margin: 0;
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.features-item p {
  margin: 0;
  margin-top: 10px;

  font-size: 15px;
}

.features-btn {
  margin-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.features-item-apps .features-btn {
  background-color: #00ca74;
}

.features-item-apps .features-btn:hover {
  background-color: #01a25e;
}

.features-item-apps .features-btn:active {
  background-color: #009053;
}


.features-item-present .features-btn {
  background-color: #efc84a;
}

.features-item-present .features-btn:hover {
  background-color: #d6ae2c;
}

.features-item-present .features-btn:active {
  background-color: #c09b24;
}

/* Description */

.description {
  position: relative;

  padding: 70px 0;
}

.description-logo {
  position: absolute;
  top: 60px;
  right: 0;

  width: 240px;
  height: 119px;
}

.description-intro {
  width: 570px;
  margin-bottom: 45px;
  padding-right: 50px;
}

.description-lead {
  display: block;
  margin-bottom: 17px;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.description-intro p {
  margin: 0;
  margin-top: 7px;
}

.description-left {
  float: left;
  width: 620px;
}

.description-right {
  float: right;
  width: 240px;
}

.description-legend {
  margin-bottom: 22px;

  text-transform: uppercase;
}

.description-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.description-list li {
  position: relative;

  display: inline-block;
  margin-bottom: 22px;
  padding-left: 36px;
}

.description-list li:last-child {
  margin-bottom: 0;
}

.description-list li::before {
  content: "";

  position: absolute;
  left:0;
  top: 50%;

  display: block;
  width: 25px;
  height: 2px;
  margin-top: -1px;

  background-color: #fb565a;
}

/* Portfolio */

.portfolio {
  margin-bottom: 85px;
  padding-top: 46px;
  padding-bottom: 31px;
}

.portfolio-item {
  float: left;
  width: 240px;
  margin-right: 80px;

  opacity: 0.2;
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-item:hover,
.portfolio-item:active {
  opacity: 1;
}

.portfolio-item img {
  display: block;
  width: 240px;
  height: 90px;
}

/* Map */

.map {
  position: relative;

  min-width: 1199px;
  height: 416px;
  margin-left: auto;
  margin-right: auto;
}

.map-image {
  display: block;
  width: 1199px;
  height: 416px;
  margin: 0 auto;
}

#yandex-map {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
}

.contacts {
  position: absolute;
  top: 50%;

  width: 210px;
  padding: 25px 20px;

  color: #666666;
  background-color: #ffffff;

  transform: translateY(-50%);
}

.contacts-title {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  margin-bottom: 20px;

  line-height: 20px;
}

.contacts p:last-of-type {
  margin-bottom: 30px;
}

.contacts-btn {
  width: 100%;

  text-align: center;
}

/*** Page footer ***/

.main-footer {
  padding: 75px 0;
}

.socials {
  float: left;
  width: 240px;
}

.socials-item {
  display: inline-block;
  width: 62px;
  height: 62px;
  margin-right: 27px;

  color: #ffffff;
  text-align: center;

  background-color: #e1e1e1;
  border-radius: 50%;
  vertical-align: middle;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-icon {
  font-size: 23px;
  line-height: 62px;
}

.socials-item:hover {
  background-color: #fb565a;
}

.socials-item:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.discount {
  float: right;
  width: 560px;
}

.discount-lead {
  display: block;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
}

.discount p {
  margin: 0;
}


/***** CATALOG PAGE *****/

/*** Page header ***/

.catalog-page .main-header {
  margin-bottom: 75px;
  padding-bottom: 80px;
}

.catalog-page .page-menu {
  margin-bottom: 64px;
}

.catalog-page h1 {
  width: 700px;
  margin: 0 auto;

  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

/*** Main content ***/

.catalog-page-aside {
  float:left;
  width: 240px;
}

.catalog-page-content {
  float: right;
  width: 560px;
}

/* Filter form */

.filter-form-fieldset {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  border: none;
}

.filter-form-legend {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-form input[type="text"] {
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: center;

  background-color: #f1f1f1;
  border-radius: 2px;
  border: 0;
  outline: 0;
}

/* Filter form price range */

.filter-form-range {
  margin-bottom: 14px;
  padding: 39px 20px;

  background-color: #f1f1f1;
  border-radius: 2px;
}

.range-whole {
  position: relative;
  width: 100%;
  height: 2px;

  background-color: #d7dcde;
}

.range-selected {
  width: 160px;
  height: 2px;

  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;

  background-image: radial-gradient(#ababab 0, #ababab 2px, #ffffff 3px, #ffffff 100%);
  border-radius: 50%;
  box-shadow: 0 2px #e1e1e1;
  cursor: pointer;

  content: "";
}

.range-toggle-min {
  left: 15%;
}

.range-toggle-max {
  left: 45%;
}

.filter-form-price input[type="text"] {
  width: 80px;
  height: 38px;
  margin-left: 10px;

  line-height: 38px;
}

.price-from,
.price-to {
  max-width: 115px;

  text-transform: uppercase;
}

.price-from {
  float: left;
}

.price-to {
  float: right;
}

/* Filter form controls list */

.filter-form-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-form-list li {
  margin-bottom: 18px;
}

.filter-form-list li:last-child {
  margin-bottom: 0;
}

.filter-form-control {
  display: none;
}

.filter-form-label {
  position: relative;

  display: inline-block;
  padding-left: 35px;

  cursor: pointer;
}

.filter-form-label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  width: 28px;
  height: 28px;

  font-family: "symbols-nerds";
  font-size: 28px;
  line-height: 1em;

  color: #c1c1c1;

  speak: none;
  transform: translateY(-50%);
}

.radio-label::before {
  content: "\25cb";
}

.checkbox-label::before {
  content: "\2610";
}

.filter-form-radio:checked + .radio-label::before {
  content: "\25cf";
}

.filter-form-checkbox:checked + .checkbox-label::before {
  content: "\2611";
}

/* Filter form button */

.filter-form-btn {
  margin-top: 12px;
  padding: 10px 48px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f1f1f1;
  border-radius: 2px;
  border: 0;
  outline: 0;
}

.filter-form-btn:hover {
  background-color: #e5e5e5;
}

.filter-form-btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px #b5b5b5;
}

/* Sort */

.sort {
  margin-bottom: 18px;
}

.sort-type-wrapper {
  float: left;
  width: 480px;
}

.sort-direction-wrapper {
  float: right;
  max-width: 50px;
}

/* Sort types */

.sort-types {
  margin-left: 35px;
}

.sort-types li {
  margin-right: 45px;
}

.sort-legend,
.sort-types a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  vertical-align: bottom;
}

.sort-types a {
  text-decoration: none;

  opacity: 0.3;
  border-bottom: 1px dotted #00ca74;
}

.sort-types a:hover {
  opacity: 1;
  border-bottom-style: solid;
}

.sort-types a:active,
.sort-types .sort-type-active {
  border-bottom-color: transparent;
}

/* Sort direction */

.sort-direction,
.sort-direction:hover {
  font-size: 23px;
  color: #c1c1c1;
  text-decoration: none;
}

.sort-direction:active {
  color: #000000;
}

.sort-direction-active {
  color: #00ca74;
}

.sort-direction span::before {
  width: auto;
  margin: 0;
  margin-left: 2px;
  padding: 0;
}

/* Catalog */

.catalog {
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.browser {
  padding: 10px 13px;

  line-height: 10px;

  border-radius: 3px;
  background-color: #797979;
  opacity: 0.1;
}

.browser-control {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;

  vertical-align: middle;
  border-radius: 50%;
  background-color: #ffffff;
}

.catalog-item:hover .browser {
  opacity: 1;
}

.catalog-item-body {
  position: relative;
}

.catalog-item-image {
  display: block;
  width: 240px;
  height: 240px;
}

.catalog-item-info {
  position: absolute;
  top: 20px;
  left: 20px;

  display: none;
  width: 160px;
  height: 140px;
  padding: 30px 20px;

  text-align: center;
  color: #283136;

  background-color: #ffffff;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item-info h2 {
  margin: 0;
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 1.4;

  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-info p {
  margin: 0;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 18px;
  color: #283136;
}

.catalog-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;

  font-size: 18px;
  letter-spacing: 1px;
}

/* Paginator */
.paginator {
  margin-bottom: 80px;
}

.paginator-list > li {
  margin-right: 10px;
}

.paginator-link {
  display: inline-block;
  width: 38px;
  height: 38px;

  font-size: 12px;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;

  vertical-align: middle;
  background-color: #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
}

.paginator-link-next {
  width: 140px;
}

.paginator-link:hover {
  background-color: #e5e5e5;
}

.paginator-link:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.15);
}

.paginator-link-active,
.paginator-link-active:hover,
.paginator-link-active:active {
  background-color: #ffffff;
  outline: 2px solid #f2f2f2;
  outline-offset: -2px;
  cursor: default;
}


/*** Feedback pop-up ***/

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-content {
  position: fixed;;
  top: 15%;
  left: 0;
  right: 0;

  display: none;
  margin: 0 auto;
}

.modal-content-feedback {
  width: 460px;
  padding-top: 55px;
  padding-left: 80px;
  padding-right: 90px;
  padding-bottom: 50px;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 6px;
  right: 6px;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  font-size: 0;

  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #fb565a;
  cursor: pointer;
}

.modal-content-close:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";

  position: absolute;;
  top: 17px;
  left: 7.5px;

  display: block;
  width: 25px;
  height: 5px;

  background-color: #ffffff;
}

.modal-content-close::before {
  transform: rotate(-45deg);
}

.modal-content-close::after {
  transform: rotate(45deg);
}

.feedback-form .form-field-wrap {
  display: inline-block;

  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.feedback-form .form-field-wrap-short {
  width: 220px;
  margin-right: 15px;
}

.feedback-form .form-field-wrap-short:nth-child(2n) {
  margin-right: 0;
}

.feedback-form .form-field-wrap-long {
  width: 100%;
}

.feedback-form .form-field {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 15px;

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  box-sizing: border-box;

  border: 2px #d7dcde solid;
  border-radius: 2px;
  outline: none;
}

.feedback-form .form-field:hover {
  border-color: #a2a9ac;
}

.feedback-form .form-field:focus {
  border-color: #56bffb;
}

 .feedback-btn {
   width: 100%;
   margin-top: 25px;
 }
